
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom,#ffad35,#ffc107);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header nav{
    margin-right: 5px;
    padding: 10px;
    display:flex;
    justify-content: flex-end;
}

#container {
    padding: 15% 8%;
    height: 100vh;
}

#container h1{
    margin: 34px 0px 0px 0px;
}

#container h4{
    margin:2px 0px 53px;
}

#bienvenida {
    padding: 15% 8%;
}

nav h4 {
    margin:0;
}

div#questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 2%;
}

div#questions div:first-child{
    margin-top:20px
}

div#questions div{
    margin-bottom:10px
}



#navigation {
    background-color: hsl(224, 18%, 16%, 0.5);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 17px 10px;
}

#navigation #statistics {
    cursor: pointer;
    margin-right: 30px;
    font-size: 20px;
    /* text-decoration: underline; */
}

#navigation h3#statistics img {
    vertical-align: middle;
}
#navigation h3#statistics img:hover {
    width:32px;
}

.container {
    padding: 30px;
    border: 1px solid #16191f;
    border-radius: 27px;
    box-shadow: 1px 1px 12px #16191f;
    background: #383e4e;
}

#container-statistics{
    margin-bottom: 50px;
    width: 647px;
}

.flex-center-column {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
}

.flex-center-center-column {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 5%;
}

.flex-center-row {
    display:flex;
    justify-content:center;
    align-content: center;
    flex-direction: row;
    margin: 0;
}

.end-game {
    height: 100vh;
}

button {
    background: white;
    color: #ffad35;
    border:none;
    padding: 5px 7px;
    width: 100%;
    cursor: pointer;
    margin: 20px 0px;
    font-size: 150%;
}

#bienvenida select {
    display: block;
    height: 40px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #464545;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    width: 100%;
    margin-top: 35px;
}

button:hover {
    background-color:#ff9800;
    color:white;
}

button.answer{
    width: 100%;
    margin:5px;
}

button.correct {
    border: 2px solid #6d4bc9;
    background-color: #00ff6a;
    padding: 12px;
    font-size: 23px;
}

button.incorrect {
    border: 2px solid #6d4bc9;
    background-color: #ff0800;
    padding: 12px;
    font-size: 23px;
}

input {
    display: block;
    height: 18px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #464545;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}

label {
    font-size: 189%;
    line-height: 39px;
}

button#jugar {
    width: 100%;
}



header {
    position: absolute;
    top: 0;
    background-color: transparent;
    color: #ff9800;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
}

/*Bubbles*/
.bubble{

    background-color: #ffffff;
    border-radius: 50%;
    opacity: .3;
    position: absolute;
    bottom:-150;
    left:5%;
    animation: bubbles 3s linear infinite;
}

.bubble:nth-child(1){
    width: 60px;
    height: 60px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.bubble:nth-child(2){
    width: 45px;
    height: 45px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.bubble:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.bubble:nth-child(4){
    width: 50px;
    height: 50px;
    left: 85%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.bubble:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration:3s;
    animation-delay: 1s;
}

.bubble:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(7){
    width: 80px;
    height: 80px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.bubble:nth-child(8){
    width: 25px;
    height: 25px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.bubble:nth-child(9){
    width: 65px;
    height: 65px;
    left: 60%;
    animation-duration: 3s;
    animation-delay: 8s;
}
.bubble:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes bubbles {
    0%{
        bottom: 0;
        opacity:0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity:.4;
    }
    100%{
        bottom: 100vh;
        opacity:0;
    }
    
}

/*Foam*/

#top {
    border-top: 0;
    border-radius: 0 0 30px 30px;
    height: 200px;
  
}

.beer-foam {
    position: absolute;
    top: 0px;
    height: 180px;
    width: 100%;
  }















